[submodule "thirdparty/glucose"]
	path = thirdparty/glucose
	url = https://github.com/audemard/glucose.git
[submodule "thirdparty/naja"]
	path = thirdparty/naja
	url = https://github.com/nanocoh/naja.git
[submodule "thirdparty/yaml-cpp"]
	path = thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "thirdparty/kissat"]
	path = thirdparty/kissat
	url = https://github.com/arminbiere/kissat
[submodule "thirdparty/cadical"]
	path = thirdparty/cadical
	url = https://github.com/arminbiere/cadical
[submodule "thirdparty/metron"]
	path = thirdparty/metron
	url = https://github.com/keplertech/metron
[submodule "thirdparty/metrolib"]
	path = thirdparty/metrolib
	url = https://github.com/aappleby/metrolib
[submodule "thirdparty/matcheroni"]
	path = thirdparty/matcheroni
	url = https://github.com/aappleby/matcheroni
[submodule "thirdparty/xls"]
	path = thirdparty/xls
	url = https://github.com/keplertech/xls
