name: asan-build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  BUILD_TYPE: Debug

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -yq \
          build-essential cmake ninja-build clang pkg-config \
          libboost-dev libfl-dev libtbb-dev capnproto libcapnp-dev \
          libgtest-dev libspdlog-dev libyaml-cpp-dev

    - name: Configure CMake
      run: |
        rm -rf build
        cmake -B build -GNinja \
          -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} \
          -DCMAKE_C_COMPILER=clang \
          -DENABLE_SANITIZERS=ON \
          -DPYTHON_INTERFACE=OFF \
          -DCMAKE_CXX_STANDARD=20

    - name: Build
      run: cmake --build build --config ${{ env.BUILD_TYPE }} -- -j

    - name: Test
      working-directory: build
      env:
        PYTHONMALLOC: malloc
      run: ctest -VV -E ".*[p|P]ython.*" -C ${{ env.BUILD_TYPE }}
